
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <form action="/Blog/SubmitReply" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="EmailAddress">Email Address</label>
                    <input type="email" class="form-control" id="EmailAddress" placeholder="Email Address">
                </div>
            </div>

            <div class="form-group">
                <label for="Message">Message</label>
                <textarea id="Message" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
